.text-body,
.text-caption,
.text-menu,
.text-button,
.text-input {
    -unity-font-definition: resource("Fonts/NotoSansJP-Regular");
}

.text-window-title,
.text-dialog-title {
    -unity-font-definition: resource("Fonts/NotoSansJP-Bold");
}