.text-body {
    font-size: 13px;
}

.text-caption {
    font-size: 12px;
}

.text-menu {
    font-size: 13px;
}

.text-button {
    font-size: 13px;
}

.text-window-title {
    font-size: 13px;
    -unity-font-style: bold;
}

.text-dialog-title {
    font-size: 15px;
    -unity-font-style: bold;
}

.text-input {
    font-size: 13px;
}